RewriteEngine On
RewriteBase /

# don't map requests for server dir into dist
RewriteRule ^(dist|server)($|/) - [L]

# all other requests pretend we're inside dist
RewriteRule ^$ /dist/index.html [L]
RewriteRule ^(.*)$ /dist/$1 [L]